@charset "UTF-8";

[data-simplebar] { position: relative; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -ms-flex-line-pack: start; align-content: flex-start; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; width: inherit; height: inherit; max-width: inherit; max-height: inherit; }

.simplebar-wrapper { overflow: hidden; width: inherit; height: inherit; max-width: inherit; max-height: inherit; }

.simplebar-mask { direction: inherit; position: absolute; overflow: hidden; padding: 0; margin: 0; left: 0; top: 0; bottom: 0; right: 0; width: auto !important; height: auto !important; z-index: 0; }

.simplebar-offset { direction: inherit !important; -webkit-box-sizing: inherit !important; box-sizing: inherit !important; resize: none !important; position: absolute; top: 0; left: 0; bottom: 0; right: 0; padding: 0; margin: 0; -webkit-overflow-scrolling: touch; }

.simplebar-content { direction: inherit; -webkit-box-sizing: border-box !important; box-sizing: border-box !important; position: relative; display: block; height: 100%; /* Required for horizontal native scrollbar to not appear if parent is taller than natural height */ width: auto; visibility: visible; overflow: scroll; /* Scroll on this element otherwise element can't have a padding applied properly */ max-width: 100%; /* Not required for horizontal scroll to trigger */ max-height: 100%; /* Needed for vertical scroll to trigger */ }

.simplebar-placeholder { max-height: 100%; max-width: 100%; width: 100%; pointer-events: none; }

.simplebar-height-auto-observer-wrapper { -webkit-box-sizing: inherit !important; box-sizing: inherit !important; height: 100%; width: inherit; max-width: 1px; position: relative; float: left; max-height: 1px; overflow: hidden; z-index: -1; padding: 0; margin: 0; pointer-events: none; -webkit-box-flex: inherit; -ms-flex-positive: inherit; flex-grow: inherit; -ms-flex-negative: 0; flex-shrink: 0; -ms-flex-preferred-size: 0; flex-basis: 0; }

.simplebar-height-auto-observer { -webkit-box-sizing: inherit; box-sizing: inherit; display: block; opacity: 0; position: absolute; top: 0; left: 0; height: 1000%; width: 1000%; min-height: 1px; min-width: 1px; overflow: hidden; pointer-events: none; z-index: -1; }

.simplebar-track { z-index: 1; position: absolute; right: 0; bottom: 0; pointer-events: none; }

.simplebar-scrollbar { position: absolute; right: 2px; width: 7px; min-height: 10px; }

.simplebar-scrollbar:before { position: absolute; content: ""; background: black; border-radius: 7px; left: 0; right: 0; opacity: 0; -webkit-transition: opacity 0.2s linear; -o-transition: opacity 0.2s linear; transition: opacity 0.2s linear; }

.simplebar-track .simplebar-scrollbar.simplebar-visible:before { /* When hovered, remove all transitions from drag handle */ opacity: 0.5; -webkit-transition: opacity 0s linear; -o-transition: opacity 0s linear; transition: opacity 0s linear; }

.simplebar-track.simplebar-vertical { top: 0; width: 11px; }

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before { top: 2px; bottom: 2px; }

.simplebar-track.simplebar-horizontal { left: 0; height: 11px; }

.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before { height: 100%; left: 2px; right: 2px; }

.simplebar-track.simplebar-horizontal .simplebar-scrollbar { right: auto; left: 0; top: 2px; height: 7px; min-height: 0; min-width: 10px; width: auto; }

/* MF Data */

#mf_serp_modal_bg { position: absolute; z-index: 100000; height: 0; width: 100%; background-color: rgba(255, 255, 255, 0); -webkit-transition: background-color 0.3s linear; -o-transition: background-color 0.3s linear; transition: background-color 0.3s linear; top: -5%; left: 0; }

.mf_serp_show_result #mf_serp_modal_bg { background-color: rgba(255, 255, 255, 0.6); height: 105%; position: fixed; }

#mf_serp_modal_wrap { position: fixed; z-index: 1000000; left: 10%; top: 5%; height: 0; width: 80%; opacity: 0; display: block; background: #fff; -webkit-transition: opacity 0.3s linear; -o-transition: opacity 0.3s linear; transition: opacity 0.3s linear; -webkit-box-shadow: 0 0 20px #666; box-shadow: 0 0 20px #666; }

.mf_serp_show_result #mf_serp_modal_wrap { opacity: 1; height: 90%; }

#mf_serp_modal { height: 100%; overflow: auto; -webkit-overflow-scrolling: touch; }

#mf_serp_iframe { width: 100%; height: 100% !important; border: none; display: block; }

#mf_serp_modal_head { position: absolute; z-index: 2000; top: 5px; right: 5px; width: 40px; height: 40px; background-color: rgba(0, 0, 0, 0.8); cursor: pointer; display: none; }

#mf_serp_modal_head:before, #mf_serp_modal_head:after { position: absolute; top: 4px; border: 1px solid #fff; height: 30px; content: ""; }

#mf_serp_modal_head:before { left: 19px; -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }

#mf_serp_modal_head:after { right: 19px; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }

.mf_serp_show_result #mf_serp_modal_head { display: block; }

#mf_serp_modal_head span#mf_serp_modal_close { display: none; }

/* WRAPPER */

/* :::::::::::::::::::::::::::::::
wrapper
::::::::::::::::::::::::::::::: */
@media screen and (min-width: 751px) { #wrapper { padding-top: 106px; } }

@media screen and (max-width: 750px) { 
    #wrapper { 
        padding-top: 62px; 
    }
    #wrapper.navOpen { 
      width: 100%; position: fixed; left: 0; 
    }
    #wrapper.navOpen #nav { 
        -webkit-transform: scaleY(1); 
        -ms-transform: scaleY(1); 
        transform: scaleY(1); 
        opacity: 1; 
    }
    #wrapper.navOpen #smtMenuBtn i:nth-child(1) { 
        top: 23px; -webkit-transform: rotate(45deg); 
        -ms-transform: rotate(45deg); 
        transform: rotate(45deg); }
    #wrapper.navOpen #smtMenuBtn i:nth-child(2) { 
        -webkit-transform: scale(0); 
        -ms-transform: scale(0); 
        transform: scale(0); }
    #wrapper.navOpen #smtMenuBtn i:nth-child(3) {
         top: 23px; 
         -webkit-transform: rotate(-45deg); 
         -ms-transform: rotate(-45deg); 
         transform: rotate(-45deg); 
    } 
}

  /* ================================== */

/* ==================================
    body
===================================== */

body {
     /* Evita que los caracteres se amplíen en los teléfonos inteligentes */ 
    -webkit-text-size-adjust: 100%; 
    /* Properties */
    margin: 0 px;
    padding: 15px 30px 15px 30px;
    background-color: #1b262c;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: #ffffff;
}

/* ==================================
    HEADER
===================================== */

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color:#1b262c;
    border-bottom: 4px solid #0c9463;
}

.headInnner { 
    position: relative; 
    height: 104px; 
    padding: 21px 50px 0; 
    max-width: 1100px; 
    margin-left: auto; 
    margin-right: auto; 
}

.hnav {
    display: -webkit-box; 
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end; 
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center; 
    -ms-flex-align: center;
    align-items: center;
    margin-top: 10px;
    margin-right: 10px;
}

.hnav a {
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.hnav a:hover {
    text-decoration: underline;
}

@media screen and (min-width: 751px) { 
    .hnavLang:hover { text-decoration: underline; } 
}

.hlogo {
    line-height: 1;
    margin-left: 10px;
}

.hlogo a {
    line-height: 1;
    display: block;
    -webkit-transition: .2s opacity ease-in; 
    -o-transition: .2s opacity ease-in; 
    transition: .2s opacity ease-in; 
}

.hlogo a:hover {
    opacity: .6;
}

@media screen and (min-width: 751px) {
     .hlogo a { 
        -webkit-transition: .2s opacity ease-in; 
        -o-transition: .2s opacity ease-in; 
        transition: .2s opacity ease-in; 
    }
     .hlogo a:hover { 
        opacity: .6; 
    } 
}

@media screen and (min-width: 751px) and (max-width: 1000px) { 
    #header .headInnner { 
        padding: 21px 15px 0; 
    }
    #header .hlogo { 
        left: 15px; 
    }
    #header .hlogo img { 
        width: 220px; 
    } 
}

@media screen and (max-width: 750px) { 
    #header { 
      width: 100%; 
      padding: 10px 15px; 
      height: 62px; 
      border-bottom: 4px solid #0c9463; 
    }
    #header .hlogo { 
        position: absolute; 
        top: 24px; 
        left: 15px; 
    }
    #header .hlogo img { 
        width: 150px; 
    }
    #header .hnav { 
        position: absolute; 
        right: 57px; 
        top: 22px; 
        z-index: 9; 
    }
    #header .hnavSearch { 
        -webkit-box-flex: 0; 
        -ms-flex: 0 0 34px; 
        flex: 0 0 34px; 
        width: 34px; 
        height: 18px; 
        margin-left: 10px; 
    } 
}

@media screen and (max-width: 370px) { 
    #header .hlogo { 
        top: 25px; 
    }
    #header .hlogo img { 
        width: 130px; 
    } 
}

/* :::::::::::::::::::::::::::::::
smtMenuBtn
::::::::::::::::::::::::::::::: */
@media screen and (min-width: 751px) { 
    #smtMenuBtn { 
        display: none; 
    } 
}

@media screen and (max-width: 750px) { 
    #smtMenuBtn { 
        display: block; 
        width: 48px; 
        height: 48px;
        position: absolute; 
        top: 7px; 
        right: 4px; 
        z-index: 10; 
    }
    #smtMenuBtn i { 
        display: block; 
        width: 24px; 
        height: 2px; 
        background-color: #333333; 
        position: absolute; 
        right: 12px; 
        -webkit-transition: 0.3s all cubic-bezier(0.82, 0.01, 0.3, 0.99); 
        -o-transition: 0.3s all cubic-bezier(0.82, 0.01, 0.3, 0.99); 
        transition: 0.3s all cubic-bezier(0.82, 0.01, 0.3, 0.99); 
    }
    #smtMenuBtn i:nth-child(1) { 
        top: 16px; 
    }
    #smtMenuBtn i:nth-child(2) { 
        top: 23px; 
    }
    #smtMenuBtn i:nth-child(3) { 
        top: 30px; 
    } 
}

/* :::::::::::::::::::::::::::::::
nav
::::::::::::::::::::::::::::::: */

@media screen and (min-width: 751px) { 
    #nav { 
        position: absolute; 
        right: 50px; 
        bottom: 0; 
    } 
}

@media screen and (min-width: 751px) and (max-width: 1000px) { 
    #nav { 
        right: 15px; 
    } 
}

@media screen and (max-width: 750px) { 
    #nav { 
        position: fixed; 
        z-index: 100; 
        top: 62px; 
        left: 0; 
        width: 100%; 
        height: calc(100% - 100px); 
        overflow-y: auto; 
        -webkit-overflow-scrolling: touch; 
        -overflow-scrolling: touch; 
        -webkit-transform: scaleY(0); 
        -ms-transform: scaleY(0); 
        transform: scaleY(0); 
        -webkit-transform-origin: top; 
        -ms-transform-origin: top; 
        transform-origin: top; 
        opacity: 0; 
    }
    #nav.smt { 
        -webkit-transition: 0.3s all cubic-bezier(0.82, 0.01, 0.3, 0.99); 
        -o-transition: 0.3s all cubic-bezier(0.82, 0.01, 0.3, 0.99); 
        transition: 0.3s all cubic-bezier(0.82, 0.01, 0.3, 0.99); 
    }
    #nav .glnavIner { 
        height: 100%; 
        overflow-y: auto; 
    } 
}

/* ::::::::::::::::::::::::::::
    GLNAV
::::::::::::::::::::::::::::::: */

.glnavLink { 
    font-weight: bold; 
    font-size: 16px; 
    cursor: pointer; 
}

.glnavIner a {
    font-size: 16px;
    text-decoration: none;
}

.glnavItem a:hover {
    text-decoration: underline;
}

@media screen and (min-width: 751px) { 
    .glnav { 
        display: -webkit-box; 
        display: -ms-flexbox; 
        display: flex; 
        margin-left: 2.5em; 
    }
    .glnavInner { 
        position: relative; 
    }
    .glnavLine { 
        display: block; 
        background-color: #333; 
        height: 2px; 
        position: absolute; 
        bottom: 10px; 
        left: 0; 
        -webkit-transition: left .2s ease,-webkit-transform .2s ease; 
        transition: left .2s ease,-webkit-transform .2s ease; 
        -o-transition: transform .2s ease,left .2s ease; 
        transition: transform .2s ease,left .2s ease; 
        transition: transform .2s ease,left .2s ease, -webkit-transform .2s ease; 
        -webkit-transform: scaleY(0); 
        -ms-transform: scaleY(0); 
        transform: scaleY(0); 
        -webkit-transform-origin: bottom; 
        -ms-transform-origin: bottom; 
        transform-origin: bottom; 
    }
    .glnavLine.dis { 
        -webkit-transform: scaleY(1); 
        -ms-transform: scaleY(1); 
        transform: scaleY(1); 
    }
    .glnavLine.current { 
        -webkit-transform: scaleY(1); 
        -ms-transform: scaleY(1); 
        transform: scaleY(1); 
    }
    .glnavItem { 
        margin-right: 2.5em; 
        padding-bottom: 17px; 
    }
    .glnavItem.current { 
        position: relative; 
    }
    .glnavItem:last-child { 
        margin-right: 0; 
    }
    .glnavLink.on { 
        color: #0c9463; 
    } 
}

@media screen and (min-width: 751px) and (max-width: 1000px) { 
    .glnav { 
        margin-left: 1em; 
    }
    .glnavItem { 
        margin-right: 1em; 
    }
    .glnavLink { 
        font-size: 14px; 
    } 
}

@media screen and (max-width: 750px) { 
    .glnav { 
        -webkit-box-shadow: 0 2px 10px #555; 
        box-shadow: 0 2px 10px #555; 
    }
    .glnavLine { display: none; }
    .glnavItem { position: relative; }
    .glnavItem:after { 
        content: ''; 
        display: block; 
        line-height: 1; 
        background-color: #1b262c; 
        height: 1px; 
        width: calc( 100% - 30px); 
        position: absolute; 
        top: 0px; 
        left: 15px; 
    }
    .glnavItem:first-child:after { 
        content: none; 
    }
    .glnav span.glnavLink { 
        position: relative; 
    }
    .glnav span.glnavLink:after { 
        content: ''; 
        display: block; 
        width: 12px; 
        height: 12px; 
        background: url(/eng/assets/img/shared/icn_navToggle1.png) no-repeat center center/contain; 
        position: absolute; 
        right: 15px; top: 50%; 
        margin-top: -6px; 
    }
    .glnav span.glnavLink.on:after { 
        -webkit-transform: rotate(45deg); 
        -ms-transform: rotate(45deg); 
        transform: rotate(45deg); 
    }
    .glnavLink { 
        display: block; 
        padding: 15px 35px 15px 15px; 
        background-color: #1b262c; 
    } 
}

